-var titulo = "Título Principal"
-var titulos = ["Fleetingames", "Título", "Subtítulo","None","Menu"]
-var enlaces = ["Acerca", "Noticias","Contacto"]
-var usuario = "Cristian"
mixin caja(imagen,titulo,contenido)
	.caja
		.caja__imagen: img(src="images/"+imagen)
		.caja__contenido
			h3= titulo
			p= contenido